#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: '#bbe1fa';
    background: '#dd2ddd';

    padding-left: 15px;
    padding-right: 15px;
}


.box {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.form-login {
    text-align: center;
    border: 1px solid  #cfbebe;
    width: 25%;
    border-radius: 6px;
    padding: 15px;
}
