.dash {
    padding: 5px 0;
    margin-right: 16px;
    text-align: right;
}

.dash ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

.dash ul li {
    text-align: end;
    display: inline-block;
}

.dash ul li a {
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
}

.img-person {
    width: 40px;
}