#navbarmy img {
    border-radius: 12px;
    margin-right: 1rem;
    padding: 0;
    
}

#navbarmy  {
    display: flex;
}

.lim {
    padding: 5px 0;
    margin-right: 16px;
    text-align: right;
}

.lim ul {
    padding:0px;
    margin:0px;
    list-style:none;
}

.lim ul li {
    text-align: end;
    display: inline-block;
}

.lim ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */

    color: #333;
    text-decoration: none;

}